@{
    ViewData["Title"] = "Панель администратора";
}

<h2>Админ-панель</h2>
<ul>
    <li><a href="@Url.Action("Branches")">Филиалы</a></li>
    <li><a href="@Url.Action("Users")">Пользователи</a></li>
    <li><a href="@Url.Action("Templates")">Шаблоны отчетов</a></li>
    <li><a href="@Url.Action("Reports")">Отчеты</a></li>
</ul>