@model Stat_reports.Models.BranchModel

@{
    ViewData["Title"] = "Редактировать филиал";
}

<h1>Редактировать филиал</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="GoverningName" class="control-label">Правительственный</label>
        <input asp-for="GoverningName" class="form-control" />
        <span asp-validation-for="GoverningName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HeadName" class="control-label">Головной</label>
        <input asp-for="HeadName" class="form-control" />
        <span asp-validation-for="HeadName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Наименование</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UNP" class="control-label">УНП</label>
        <input asp-for="UNP" class="form-control" />
        <span asp-validation-for="UNP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OKPO" class="control-label">ОКПО</label>
        <input asp-for="OKPO" class="form-control" />
        <span asp-validation-for="OKPO" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OKYLP" class="control-label">ОКИЛП</label>
        <input asp-for="OKYLP" class="form-control" />
        <span asp-validation-for="OKYLP" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Region" class="control-label">Регион</label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label">Адрес</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">E-mail</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Supervisor" class="control-label">Руководитель</label>
        <input asp-for="Supervisor" class="form-control" />
        <span asp-validation-for="Supervisor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChiefAccountant" class="control-label">Главный бухгалтер</label>
        <input asp-for="ChiefAccountant" class="form-control" />
        <span asp-validation-for="ChiefAccountant" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
