@model Stat_reports.Models.UserLoginModel

<form asp-action="UserLogin" method="post">
    <div>
        <label>Имя пользователя</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Пароль</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Войти</button>
</form>